<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxyt.normae.uaa.dao.RoleAuthorityDao">

    <resultMap type="com.galaxyt.normae.uaa.pojo.po.RoleAuthority" id="UserRoleResult">
        <result property="id" column="id"/>
        <result property="authorityId" column="authority_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>

    <insert id="batchRoleAuthority">
        INSERT INTO t_role_authority(id,authority_id, role_id) VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.id},#{item.authorityId},#{item.roleId})
        </foreach>
    </insert>

</mapper> 